<!DOCTYPE html>
<html lang="es">
    <head>
        <title>API-REST Spotify</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="styles/spotify.css">
    </head>
    <body>
        <div class="container">
            <div id="login">
                <h1>Authorization Code flow</h1>
                <a href="/login" class="btn btn-primary">Inicieu sessio amb Spotify</a>
            </div>
            <div id="loggedin">
                <div id="user-profile"></div>
                <div class="input">
					<h3>Inseriu el nom de l'artista</h3>
                    <input id="name">
                    <button id="button">¡Aconsegueix les millors cançons del teu artista preferit!</button>
                    <button id ="clear_results">Netejar resultats</button>
                </div>
                <div id="resultats" class="row">
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Artistes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="artists" class="text-overflow"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Pistes principals</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id="top_tracks" class="text-overflow"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
				<hr width="100%" style="height: 3px; background-color: #d2d2d2;">
                <div id="oauth"></div>
                <button class="btn btn-default" id="obtain-new-token">Obteniu un nou token amb el refresh token</button>
            </div>
        </div>
        <script id="user-profile-template" type="text/x-handlebars-template">
            <h2>Sessio iniciada com {{display_name}}</h2>
            <div class="media">
                <div class="pull-left">
                    <img class="media-object" width="150" src="{{images.0.url}}" />
                </div>
                <div class="media-body">
                    <dl class="dl-horizontal">
                        <dt>Nom</dt><dd class="clearfix">{{display_name}}</dd>
                        <dt>Id</dt><dd>{{id}}</dd>
                        <dt>Email</dt><dd>{{email}}</dd>
                        <dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
                        <dt>Link</dt><dd><a href="{{href}}">{{href}}</a></dd>
                        <dt>Imatge de perfil</dt><dd class="clearfix"><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
                        <dt>Pais</dt><dd>{{country}}</dd>
                    </dl>
                </div>
            </div>
        </script>
        <script id="oauth-template" type="text/x-handlebars-template">
            <h2>Auth info</h2>
            <dl class="dl-horizontal">
                <dt>Acces token</dt><dd class="text-overflow">{{access_token}}</dd>
                <dt>Refresh token</dt><dd class="text-overflow">{{refresh_token}}</dd>
            </dl>
        </script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
        <script type="application/javascript" src="scripts/spotify.js"></script>
    </body>
</html>
